<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">

	<bean
		class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"></bean>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver">
		</property>
		<property name="url" value="jdbc:mysql://localhost:3306/eshop">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="lzqsy911124"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>edu.cqun.eshop.domain.Commend</value>
				<value>edu.cqun.eshop.domain.SystemUser</value>
				<value>edu.cqun.eshop.domain.ShopCar</value>
				<value>edu.cqun.eshop.domain.Saler</value>
				<value>edu.cqun.eshop.domain.Carriage</value>
				<value>edu.cqun.eshop.domain.Buyer</value>
				<value>edu.cqun.eshop.domain.Delivery</value>
				<value>edu.cqun.eshop.domain.Commodity</value>
				<value>edu.cqun.eshop.domain.UserOrder</value>
				<value>edu.cqun.eshop.domain.Category</value>
			</list>
		</property>
	</bean>
	<bean id="SystemUserDAO" class="edu.cqun.eshop.dao.SystemUserDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="DeliveryDAO" class="edu.cqun.eshop.dao.DeliveryDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CommodityDAO" class="edu.cqun.eshop.dao.CommodityDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="SalerDAO" class="edu.cqun.eshop.dao.SalerDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CarriageDAO" class="edu.cqun.eshop.dao.CarriageDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CommendDAO" class="edu.cqun.eshop.dao.CommendDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UserOrderDAO" class="edu.cqun.eshop.dao.UserOrderDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CategoryDAO" class="edu.cqun.eshop.dao.CategoryDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="BuyerDAO" class="edu.cqun.eshop.dao.BuyerDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ShopCarDAO" class="edu.cqun.eshop.dao.ShopCarDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<context:annotation-config />
	<context:component-scan base-package="edu.cqun.eshop.service"></context:component-scan>

	<bean class="org.springframework.orm.hibernate3.HibernateTransactionManager"
		id="transactionManager" autowire="default" lazy-init="default"
		abstract="false">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<tx:annotation-driven />

</beans>